@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap-icons/font/bootstrap-icons.css';

@layer base {
  /* 
  VERY DARK 210 10% 23% #343A40
  DARK 208 7% 46% #6C757D
  BASE 210 11% 71% #ADB5BD
  LIGHT 210 14% 89% #DEE2E6
  */

  :root {
    --background: 210 10% 23%; /* #343A40 */
    --foreground: 210 14% 89%; /* #DEE2E6 */
    --card: 210 10% 23%;
    --card-foreground: 210 14% 89%;
    --popover: 210 10% 23%;
    --popover-foreground: 210 14% 89%;
    --primary: 210 11% 71%; /* #ADB5BD */
    --primary-foreground: 210 14% 89%;
    --secondary: 210 14% 89%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 14% 89%;
    --accent: 208 7% 46%; /* #6C757D */
    --accent-foreground: 210 14% 89%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 11% 71%;
    --input: 210 11% 71%;
    --ring: 208 7% 46%;
    --chart-1: 208 7% 46%;
    --chart-2: 210 14% 89%;
    --chart-3: 210 10% 23%;
    --chart-4: 210 11% 71%;
    --chart-5: 208 7% 46%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 23%;
    --foreground: 210 14% 89%;
    --card: 210 10% 23%;
    --card-foreground: 210 14% 89%;
    --popover: 210 10% 23%;
    --popover-foreground: 210 14% 89%;
    --primary: 210 14% 89%;
    --primary-foreground: 210 10% 23%;
    --secondary: 210 11% 71%;
    --secondary-foreground: 210 14% 89%;
    --muted: 210 10% 23%;
    --muted-foreground: 210 14% 89%;
    --accent: 208 7% 46%;
    --accent-foreground: 210 14% 89%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 14% 89%;
    --border: 210 11% 71%;
    --input: 210 11% 71%;
    --ring: 210 14% 89%;
    --chart-1: 208 7% 46%;
    --chart-2: 210 14% 89%;
    --chart-3: 210 10% 23%;
    --chart-4: 210 11% 71%;
    --chart-5: 208 7% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-foreground text-background;
  }

  .link {
    @apply cursor-pointer transition-all duration-300 underline xl:no-underline hover:-skew-x-[20deg];
  }
}

@theme inline {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
